In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [3]:
df.head()

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [4]:
df.dtypes

From_To          object
FlightNumber    float64
RecentDelays     object
Airline          object
dtype: object

In [5]:
df["Airline"].value_counts()

12. Air France         1
<Air France> (12)      1
KLM(!)                 1
(British Airways. )    1
"Swiss Air"            1
Name: Airline, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   From_To       5 non-null      object
 1   FlightNumber  3 non-null      float64
 2   RecentDelays  5 non-null      object
 3   Airline       5 non-null      object
dtypes: float64(1), object(3)
memory usage: 288.0+ bytes

1. Some values in the the FlightNumber column are missing. These numbers are
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
imputer = SimpleImputer(missing_values=np.nan,strategy="median",)

In [9]:
df.FlightNumber = df.FlightNumber+10

In [10]:
df.FlightNumber = imputer.fit_transform(df.FlightNumber.values.reshape(-1,1))[:,0]

In [11]:
df.head()

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10055.0      [23, 47]               KLM(!)
1      MAdrid_miLAN       10075.0            []    <Air France> (12)
2  londON_StockhOlm       10075.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis       10075.0          [13]       12. Air France
4   Brussels_londOn       10095.0      [67, 32]          "Swiss Air"

In [12]:
df.FlightNumber = df.FlightNumber.convert_dtypes()

In [13]:
df.head()

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10055      [23, 47]               KLM(!)
1      MAdrid_miLAN         10075            []    <Air France> (12)
2  londON_StockhOlm         10075  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10095      [67, 32]          "Swiss Air"

2. The From_To column would be better as two separate columns! Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary
DataFrame.

In [31]:
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator,TransformerMixin
from sklearn.base import clone
import string

In [35]:
class Splitter(BaseEstimator,TransformerMixin):
        
    def fit(self,X,y=None):
        return self
    
    def transform(self,X,y=None):
        return [[print(name),string.capwords(name.split()[0]),string.capwords(name.split()[1])]for name in X]

In [36]:
splitter = Splitter()

In [37]:
splitter.transform(df.From_To.values)

IndexError: list index out of range